/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  color: #333;
}


:root {
  --bg: #f4f9fc;
  --line: #7f00e0;
  --fill: #aadcec;
  --text: #0f1b61;
  --subtext: #73bbc5;
  --duo: #aadcec;
}

.nav-link {
  font-family: Arial;
  color: var(--text);
  font-size: 1.2rem;
}

.nav-link:hover {
  color: var(--line);
}

.pagewrap {
  min-height: calc(100vh - 40px);
  position: relative;
  background: var(--bg);
  overflow: hidden;
  transition: background 1s cubic-bezier(.165,.84,.44,1);
}

.stripes {
  width: 100%;
  height: 40vh;
  position: relative;
  background: linear-gradient(45deg, var(--subtext), var(--duo), var(--subtext));
}

.stripes::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: repeating-linear-gradient(45deg, transparent, transparent 10px, var(--text) 10px, var(--text) 20px);
}

.page-header__title {
  animation: reveal .8s cubic-bezier(.215,.61,.355,1) .25s backwards;
  font-size: 3.8rem;
  text-align: center;
  font-family: Bitter,serif;
  color: var(--text);
}

.t-outline {
  text-shadow: -1px -1px var(--bg),0 -1px var(--bg),1px -1px var(--bg),-1px 0 var(--bg),1px 0 var(--bg),-1px 1px var(--bg),0 1px var(--bg),1px 1px var(--bg),-2px -2px var(--bg),0 -2px var(--bg),2px -2px var(--bg),-2px 0 var(--bg),2px 0 var(--bg),-2px 2px var(--bg),0 2px var(--bg),2px 2px var(--bg),-3px -3px var(--bg),0 -3px var(--bg),3px -3px var(--bg),-3px 0 var(--bg),3px 0 var(--bg),-3px 3px var(--bg),0 3px var(--bg),3px 3px var(--bg),-4px -4px var(--bg),0 -4px var(--bg),4px -4px var(--bg),-4px 0 var(--bg),4px 0 var(--bg),-4px 4px var(--bg),0 4px var(--bg),4px 4px var(--bg);
}

b {
  font-weight: bold;
}

span {
  color: var(--subtext);
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  color: var(--text);
}

p {
  line-height: 1.6;
}

.t-outline {
  text-shadow: -1px -1px var(--bg),0 -1px var(--bg),1px -1px var(--bg),-1px 0 var(--bg),1px 0 var(--bg),-1px 1px var(--bg),0 1px var(--bg),1px 1px var(--bg),-2px -2px var(--bg),0 -2px var(--bg),2px -2px var(--bg),-2px 0 var(--bg),2px 0 var(--bg),-2px 2px var(--bg),0 2px var(--bg),2px 2px var(--bg),-3px -3px var(--bg),0 -3px var(--bg),3px -3px var(--bg),-3px 0 var(--bg),3px 0 var(--bg),-3px 3px var(--bg),0 3px var(--bg),3px 3px var(--bg),-4px -4px var(--bg),0 -4px var(--bg),4px -4px var(--bg),-4px 0 var(--bg),4px 0 var(--bg),-4px 4px var(--bg),0 4px var(--bg),4px 4px var(--bg);
}

/* Estilos del pie de página */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.footer p {
  font-size: 14px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  color: #bbb;
}


.card-img-top {
  position: relative;
  overflow: hidden;
}

.card-img-top:hover figcaption {
  opacity: 1;
  transform: translateY(0);
}

figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(100%);
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s, transform 0.3s;
}

figcaption>div {
  padding: 20px;
}

/* Estilos del botón */
.btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #555;
}